VITE_API_URL=http://localhost:5000/api
VITE_SHOP_NAME=Natpe Thunai Crackers
VITE_SHOP_PHONE=918524090862
VITE_SHOP_ADDITIONAL_PHONE=918344806268
VITE_SHOP_EMAIL=orders@example.com
VITE_SHOP_ADDRESS=Virudhunagar to Sivakasi Road, Aathupalam Stop
VITE_GOOGLE_MAP_EMBED_URL=https://www.google.com/maps?q=9.5036621,77.8277664&output=embed
VITE_INSTAGRAM_URL=https://www.instagram.com/natpe_thunai_crakers
